@media (max-width:629px) {
  img#optionalstuff {
    display: none;
  }
}
@media (max-width:800px) {
  #addSpace {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  #addSpace {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
html {
  scroll-behavior: smooth;
}